@import url(./button.css);

:root {
    --pr-orange:hsl(25, 97%, 53%);
    --light-grey:hsl(217, 12%, 63%);
    --medium-grey:#262F38;
    --dark-blue:#1C232D;
    --very-dark-blue:hsl(216, 12%, 8%);

}
body * {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Overpass', sans-serif;
 
}
body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 97vh;
    font-size: 15px;
    background-color: var(--very-dark-blue);

}

.main {
    padding: 2rem;
    width: 22rem;
    border-radius: 1rem;
    background-color: var(--dark-blue);
}

/*      rating form     */
.rating-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo-img {
    background-color: var(--medium-grey);
    width: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 1rem;

}
.form-title {
    font-weight: 700;
    color: white;
}
.form-paragraph {
    width: 35ch;
    font-weight: 400;
}
p {
    color: var(--light-grey);
}
.score-row {
    display:flex;
    justify-content: space-between;
}
.score {
    font-size: 18px;
    color: var(--light-grey);

    width: 3rem;
    aspect-ratio: 1;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;

    background-color:var(--medium-grey);
}

/*      2nd form       */

.thanking-form {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.ty-img {
    width: 12rem;
}
.continnues-padding {
   display: flex;
   justify-content: center;
   padding: .3rem 1rem; 
   background-color: var(--medium-grey);
   border-radius: 2rem;
}
.continnues-padding p {
    color: var(--pr-orange);

 
}
.thanking-form .form-paragraph{
    text-align: center;
}


.hide-form {
    display: none;
}
.display-form {
    display: flex;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.mystyle {

        display: none;
 
  }