:root {
    --pr-orange:hsl(25, 97%, 53%);
    --light-grey:hsl(217, 12%, 63%);
    --medium-grey:#262F38;
    --dark-blue:#1C232D;
    --very-dark-blue:hsl(216, 12%, 8%);

}
body * {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Overpass', sans-serif;
 
}
body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    font-size: 15px;
    background-color: var(--very-dark-blue);

}

.main {
    padding: 2rem;
    width: 40%;
    border-radius: 1rem;
    background-color: var(--dark-blue);
}
.rating-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo-img {
    background-color: var(--medium-grey);
    width: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 1rem;

}
.rating-form-title {
    font-weight: 700;
    color: white;
}
.rating-form-paragraph {
    width: 35ch;
    font-weight: 400;
    color: var(--light-grey);
}
.score-row {
    display:flex;
    justify-content: space-between;
}
.score {
    font-size: 22px;
    color: var(--light-grey);

    width: 2em;
    aspect-ratio: 1;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;

    background-color:var(--medium-grey);
}

.button {
    border: none;
    cursor: pointer;
}
.submit {
    width: 100%;
    padding: .8rem 0;
    border-radius: 1rem;

    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: var(--pr-orange);
}
.score:hover {
    background-color: var(--pr-orange);
    color: white;
}
.score:focus {
    background-color: var(--light-grey);
    color: white;
}
.submit:hover {
    background-color: white;
    color: var(--pr-orange);
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }